* {
    margin: 0;
    padding: 0;
    background: #C3C8D5;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
  }

  .main-image {
    max-width: 400px;
    height: auto;
    border-radius: 38px;
    border: 8px solid #545E78;
    margin: 34px;
  }

  .main-image:hover {
    border-color: #424a5f;
  }
  
  .text {
    align-self: flex-start;
    margin-top: 200px;
    margin-right: 150px;
    padding-left: 70px;
  }

  .section {
    padding: 0% 10% 5%; /* Add space around content */
    max-width: 80%; /* Limit section width */
    font-family: Ubuntu;
  }

  .section h2 {
    color: #2F3A60;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .section p,
  .section ul {
    color: #545E78;
    font-size: 28px;
    line-height: 1.6;
    margin-left: 5%;
  }
  
  .section ul li {
    margin-bottom: 10px;
  }
  
  .section a {
    color: #5f6579; /* Accent color */
    text-decoration: none;
    font-weight: bold;
  }
  
  .section a:hover {
    text-decoration: underline;
  }
  


/* Mobile-specific styles */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .container-column {
        width: 100%;
    }

    .main-image {
        max-width: 250px;
        margin: 20px 0;
    }

    .text {
        align-self: center;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .text h1 {
        color: #2F3A60;
        font-family: Ubuntu, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .text h5 {
        color: #3D4B7B;
        font-family: Ubuntu, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}
  
  .text h1 {
    color: #2F3A60;
    font-family: Ubuntu;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 150px; /* 234.375% */
    letter-spacing: -0.64px;
    text-transform: uppercase;
  }

  .text h1:hover {
    text-decoration: underline;
    transform: scale(1.02);
    text-decoration-color: #2F3A60;
  }
  .text h5 {
    color: #3D4B7B;
    font-family: Ubuntu;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 40.5px */
  }

  .text h5:hover {
    transform: scale(1.02);
    color: #3c4768;
  }

