/* Navbar Styling */
.navbar {
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #2F3A60;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin: 0 30px;
  }

  .navbar-menu li:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #1c2239;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #2F3A60;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 600; /* Slightly bolder for emphasis */
    text-transform: uppercase; /* Optional for a modern look */
    transition: color 0.3s ease;
  }
  
  .navbar-menu a:hover {
    color: #1c2239; /* Accent color for hover */
  }
  
  /* Add padding to the body to prevent content from overlapping with the fixed navbar */
  body {
    padding-top: 60px;
  }


  /* Mobile-Specific Styles */
@media screen and (max-width: 768px) {
  .navbar-menu {
    width: 100%;
    justify-content: center; /* Spread links across the row */
    gap: 3px; /* Smaller spacing between links */
    padding: 0 0;
  }

  .navbar-menu li {
    margin: 0 0;
  }

  .navbar-menu a {
    font-size: 14px; /* Smaller font size */
    padding: 5px 5px; /* Compact padding inside links */
  }
}
  